<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="vue.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div class="header">
        <h1>{{description}}</h1>
        <div class="message">{{message}}</div>
      </div>
      <div class="body">
        <div class="image"><img v-bind:src="image" /><br /></div>
        <div class="information">
          <a v-bind:href="link">OPEN CSS FILE</a>
          <p v-if="grass">GRASS</p>
          <p v-else>SKY</p>
          <ul>
            <li v-for="size in sizes">{{size}}</li>
          </ul>
          <div
            v-for="color in colors"
            :key="colors.id"
            :style="{backgroundColor: color.color}"
            class="types-of-images"
            @mouseover="changeColor(color.image)"
          ></div>
          <button
            class="button"
            @click="incrementCoutner"
            :disabled="times > 9"
            :class="{'disabled-button': disabled}"
          >
            Increment Button
          </button>
          <p>counter: {{times}}</p>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="vue.js"></script>
</html>
